.Header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	padding: 25px 0;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_inner a{
	color: #fff;
}

.nav_list{
	display: flex;
}

.nav_list > li{
	margin-right: 25px;
}

.nav_list a{
	border: 2px solid transparent;
	padding: 4px 8px;
	border-radius: 30px;
	transition: .5s;
}

.nav_list a:hover{
	border-color:  #00a9da;
}

.header_icons a{
	
	background-color: #00a9da;
	width: 35px;
	height: 35px;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	
	margin-right: 10px;
}

.header_icons a:hover{
	background-color: #7d5ded;
}




