<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Examples</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="progress_container">
		<div class="progress_bar">
			Some text
		</div>
		<div class="progress_bar">
			Some text
		</div>
		<div class="progress_bar">
			Some text
		</div>
		<div class="progress_bar">
			Some text
		</div>
	</div>

	<div class="wrap">
		<div class="prof">
			<img src="https://soundpark.best/torrents/images/realsize/284888.jpg" alt="">

		</div>


		<div class="prof">
			<img src="https://soundpark.best/torrents/images/realsize/284888.jpg" alt="">

		</div>


		<div class="prof">
			<img src="https://soundpark.best/torrents/images/realsize/284888.jpg" alt="">
		</div>


		<div class="prof">
			<img src="https://soundpark.best/torrents/images/realsize/284888.jpg" alt="">

		</div>
	</div>
	
	<div class="wrap">
		<div class="dark_prof">
			<img src="https://i.ibb.co/sbFmnGm/clover-bling-brown-03.jpg" alt="">
			<div class="dark">
				<div>
					some text
				</div>
			</div>
		</div>
		<div class="dark_prof">
			<img src="https://i.ibb.co/sbFmnGm/clover-bling-brown-03.jpg" alt="">
			<div class="dark">
				<div>
					some text
				</div>
			</div>
		</div>
		<div class="dark_prof">
			<img src="https://i.ibb.co/sbFmnGm/clover-bling-brown-03.jpg" alt="">
			<div class="dark">
				<div>
					some text
				</div>
			</div>
		</div>
	</div>


	<div class="object_test">
		<img src="https://media.macphun.com/img/uploads/customer/how-to/579/15531840725c93b5489d84e9.43781620.jpg?q=85&w=1340" alt="">
	</div>
	
</body>
</html>